/*This is the stylesheet for the Tim Berners-lee page
 * The grey-ish background is the following color: #ebebeb
 * The pink parts are #dd5555
 * White parts are actually proper white (#ffffff)
 * The text is not black but #7d7d7d 
 * The border around the image is #cccccc
 * The color of the icons and the name under it is also #cccccc*
 * The box is 500 px wide 
 * The round image has a diameter of 100px*/

body { 
background-color:#ebebeb;
font-family: Open Sans;
}

h1 {
color:#dd5555;
font-family: Open Sans;
}

img#portrait {
	border-radius:50%;
	border: #cccccc 3px solid;
}

a { 
	background-color:#dd5555;
	color:#ffffff;
	padding: 5px;
	text-decoration:none;
	border-radius: 5px;
}

main {
	width: 500px;
	font-family:Open Sans;
	color:#7d7d7d;
	text-align: center;
	padding: 15px; 	
	margin:auto;
}

main > header {
	background-color:#ffffff;
	padding: 15px;
	box-shadow: 5px 5px 2px #cccccc;
}

main > section {
	margin-top:15px;
	margin-bottom:10px;
	background-color:#ffffff;
	box-shadow: 5px 5px 2px #cccccc;
	padding: 15px;
}
.linkbox {
	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: 100px auto 100px; 
	grid-gap:100px;
}

.linkbox #n1 {
	grid-columns:1/2;
	grid-rows:1/2; 
	display:flex;
	justify-content:flex-end;
	flex-direction:column;
}

.linkbox #n2 {
	grid-columns:2/3;
	grid-rows:1/2;
	display:flex;
	flex-direction:column;
}
.linkbox #n3 {
	grid-columns: 3/4;
	grid-rows:1/2;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
}

